<!DOCTYPE html>
<html>
  <title>User Profile</title>
  <style>
    h1 {
      color: orange;
    }
  </style>
  <body>
    <%- include('common/Header') %>
    <h3>Name: <%= user.name %></h3>
    <h3>Email: <%= user.email %></h3>
    <ul>
      <% user.skills.forEach((item)=>{ %>
      <li><%= item %></li>
      <% })%>
    </ul>

    <%- include('common/Footer') %>
  </body>
</html>
